{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="page-container">
        <div class="content-container">
            <label>Utilisateur :</label>
            <input name="userName" type="text" placeholder="Nom d'utilisateur">
            <label>Mot de passe :</label>
            <input name="password" type="text" class="password" placeholder="Mot de passe">
            <button>Se connecter</button>
        </div>
    </div>
{% endblock %}
