{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/registration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="content-container">
        <div class="title-container">
            <h3 class="surlignage-cyan">Modifier l'utilisateur</h3>
        </div>

        {{ include('user_crud/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_user_crud_index') }}" class="submit-button return">Revenir à la liste</a>
    </div>
{% endblock %}
