h3 {
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: column;

    width: fit-content;

    justify-content: center;
    align-items: center;


    margin: 16px;
    padding: 16px 48px 16px 40px;

    background: white;
    border: black solid 1px;
    -webkit-box-shadow: -5px 5px 0px 1px #000000;
}

.submit-button {
    grid-column: span 2;

    font-size: 1.4rem;

    justify-self: center;

    width: fit-content;
    height: fit-content;

    justify-content: center;

    padding: 0 8px;

    background: white;
    border: black solid 1px;
}

.submit-button:hover {
    color: white;
    background: black;
}

.remember-me {
    grid-column: span 2;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;

    * {
        margin-inline: 8px;
    }
}

.form-container {
    display: grid;
    justify-items: left;

    width: 100%;
    margin-top: 16px;

    grid-template-columns: 120px 200px;
    gap: 16px;

    font-size: 1.4rem;
    color: black;
}

.form-container > input {
    width: 100%;
    margin: 0;
    padding: 2px 4px;

    font-size: 1.2rem;
    padding-inline: 8px;
    background: white;
    border: black solid 1px;
}

.form-container.input::placeholder {
    color: darkgrey;
}

.attribute-title {
    font-weight: bold;
}

.edit-buttons {
    grid-column: span 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    * {
        margin-inline: 8px;
    }
}

.return {
    margin-top: 16px;
}
